awscli==1.27.107
boto3==1.26.131
botocore==1.29.131
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.3
colorama==0.4.4
coloredlogs==15.0.1
contourpy==1.0.7
cycler==0.11.0
docutils==0.16
environs==9.5.0
fairscale==0.4.4
filelock==3.12.0
fonttools==4.39.3
fsspec==2023.5.0
ftfy==6.1.1
fvcore==0.1.5.post20221221
huggingface-hub==0.14.1
humanfriendly==10.0
humanize==4.6.0
idna==3.4
importlib-resources==5.12.0
iopath==0.1.10
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.4.4
line-profiler==4.0.3
lit==16.0.3
MarkupSafe==2.1.2
marshmallow==3.19.0
matplotlib==3.7.1
mpmath==1.3.0
multiprocessing-logging==0.3.4
networkx==3.1
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
packaging==23.1
petrel-oss-sdk===v2.2.1-2-g1505ef3-master
Pillow==9.5.0
portalocker==2.7.0
pyasn1==0.5.0
pycocoevalcap==1.2
pycocotools==2.0.6
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==5.4.1
regex==2023.5.5
requests==2.30.0
rsa==4.7.2
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1666819784739/work
s3transfer==0.6.1
sacremoses==0.0.53
six==1.16.0
sympy==1.11.1
tabulate==0.9.0
termcolor==2.3.0
timm==0.4.12
tokenizers==0.10.3
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
transformers==4.15.0
triton==2.0.0
typing_extensions==4.5.0
urllib3==1.26.15
wcwidth==0.2.6
yacs==0.1.8
zipp==3.15.0
